.terraform
.idea
*.retry
roles/external
environments/*/inventory
environments/*/artifacts
.vscode
*.tfstate
.fact
.ssh
tags
venv/
.venv
*.backup
*.swp
.env
.env.leave
*.pyc
terraform/CREDENTIALS_FILE.json
